.sidebar {
    width: 250px;
  }
  
  .sidebar .list-item {
    padding: 12px 16px;
    display: flex;
    align-items: center;
  }
  
  .sidebar .list-item-icon {
    min-width: 36px;
    color: green;
  }
  
  .sidebar .list-item-text {
    font-size: 16px;
    color: darkgreen;
  }
  
  .sidebar .divider {
    margin: 12px 0;
  }
  
  /* Adjustments for active link */
  .sidebar .active-link {
    background-color: green;
    font-weight: bold;
  }
  
  .sidebar .active-link .list-item-text {
    font-size: 16px;
    color: white;
  }
  
  .sidebar .active-link .list-item-icon {
    min-width: 36px;
    color: white;
  }
  